{% load static %}
{% static "images" as baseUrl %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/main.js' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <link href="{% static 'images/logo.png' %}" rel="icon">
		  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

		  <!-- Google Fonts -->
		  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

		  <!-- Vendor CSS Files -->
		  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
		  <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
		  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
		  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
		  <!-- <link href="assets/vendor/venobox/venobox.css" rel="stylesheet"> -->
		  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
		  <!-- <link href="assets/vendor/aos/aos.css" rel="stylesheet"> -->

		  <!-- Template Main CSS File -->
      <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">




        
    <title>Online Paying Guest Accommodation System</title>
        
    </head>
    <body>

      <nav class="navbar navbar-expand-lg bg">
        
          <h3><img src="{% static 'images/logo.png' %}" alt= width="35px;" height="35px;">&nbspMUKHI</h3>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <!-- <div class="mr-auto"></div> -->
          <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item active">         <!-- style="display: flex;" -->
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="#">Serivces <span class="sr-only"></span></a>
            <a class="nav-link" href="#">Accommodation <span class="sr-only"></span></a>
            <a class="nav-link" href="{% url 'Register' %}">Account <span class="sr-only"></span></a>
            <a class="nav-link" href="#">Privacy <span class="sr-only"></span></a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/user.png' %}" alt="">
                {{user.username}}
              </a>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                <h6 class="dropdown-header">User settings</h6>
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Manage Propery</a>
                <a class="dropdown-item" href="/addproperty">Add Property</a>
                <a class="dropdown-item" href="#">Dashboard</a>
                <a class="dropdown-item" href="#">Admin Dashboard</a>
                <a class="dropdown-item" href="#">Settings</a><br>
                <a class="dropdown-item" href="{% url 'logout' %}" style="background-color: lightcyan;border:1px solid black;border-radius: 15px;text-align: center;">Logout</a>
              </div>

    
            </li>
    
          </ul>
    
        </div>
      </nav>



      
    
         
            
            








      <div class="filters" id="filterid"><button onclick="togNav()">Filters</button>
          
          <input type="text" placeholder="Search">
          <button class="search-btn"><img src="{% static 'images/search.png' %}" alt=""></button>
        
      </div>
      <div class="sidebar" id="sidebarid">
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          State
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
            <a class="dropdown-item" href="#">Gujarat</a>
            <a class="dropdown-item" href="#">Rajasthan</a>
            <a class="dropdown-item" href="#">Hariyana</a>
            <a class="dropdown-item" href="#">Panjab</a>
            <a class="dropdown-item" href="#">Rajasthan</a>
            <a class="dropdown-item" href="#">Utterpradesh</a>
            <a class="dropdown-item" href="#">Jammu&Kasmir</a>
            <a class="dropdown-item" href="#">Uttarakhand</a>
            <a class="dropdown-item" href="#">Bihar</a>
            <a class="dropdown-item" href="#">Kerela</a>
          </div>
        </li>
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          BHK
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            
            <a class="dropdown-item" href="#">1 BHK</a>
            <a class="dropdown-item" href="#">2 BHK</a>
            <a class="dropdown-item" href="#">3 BHK</a>
            <a class="dropdown-item" href="#">4 BHK</a>
            <a class="dropdown-item" href="#">5 BHK</a>
            <a class="dropdown-item" href="#">6&MORE</a>
          </div>
        </li>
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Price
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            
            <a class="dropdown-item" href="#">upto 2000</a>
            <a class="dropdown-item" href="#">upto 5000</a>
            <a class="dropdown-item" href="#">upto 8000</a>
            <a class="dropdown-item" href="#">upto 10000</a>
            <a class="dropdown-item" href="#">upto 15000</a>
            <a class="dropdown-item" href="#">upto 20000</a>
            <a class="dropdown-item" href="#">upto 25000</a>
            <a class="dropdown-item" href="#">25000 & More</a>
          </div>
        </li>
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Floor
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            
            <a class="dropdown-item" href="#">1st&nbsp-&nbsp4th</a>
            <a class="dropdown-item" href="#">5th&nbsp-&nbsp10th</a>
            <a class="dropdown-item" href="#">15st&nbsp-&nbsp20th</a>
            <a class="dropdown-item" href="#">20st&nbsp-&nbsp25th</a>           
            <a class="dropdown-item" href="#">above &nbsp25th</a>
            
          </div>
        </li>
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Amenities
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            
            <a class="dropdown-item" href="#">Vastu&nbsp;complient</a>
            <a class="dropdown-item" href="#">Air&nbspconditioned</a>
            <a class="dropdown-item" href="#">Power&nbspBack&nbspUp</a>
            <a class="dropdown-item" href="#">Lieft</a>
            
          </div>
        </li>
        <li class="nav-item dropdown dropright" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Properties
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown" id="fi_search">
            <a class="dropdown-item" href="#">Hostiles</a>
            <a class="dropdown-item" href="#">Hotels</a>
            <a class="dropdown-item" href="#">Girls&nbspHostiles</a>
            <a class="dropdown-item" href="#">Villas</a>
            <a class="dropdown-item" href="#">Samaj</a>
            <a class="dropdown-item" href="#">Guest&nbspHouse</a>
            <a class="dropdown-item" href="#">Rooms</a>
            <a class="dropdown-item" href="#">Boys&nbspHostiles</a>
          </div>
        </li>


      </div>
      
      <!-- Page content -->
      <div class="content">
        
      </div>





        


      <section id="hero" class="d-flex justify-cntent-center align-items-center">

          

    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">



      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Malic</span></h2>
          <p class="animate__animated animate__fadeInUp">Website for book property rooms and accommodation , hostels etc.for more you can visit our Website and get more services </p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
          <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->


  <section class="landing">
         <h3>Propery Type</h3>
         <div class="property_type">
           <a href="#"><label>Villas</label></a>
           <a href="#"><label>Hotels</label></a>
           <a href="#"><label>Pg</label></a>
           <a href="#"><label>Cottage</label></a>
           <a href="#"><label>Glamping</label></a>
           <a href="#"><label>Resorts</label></a>
           <a href="#"><label>Motels</label></a>
           <a href="#"><label>Guest&nbspHouses</label></a>
           <a href="#"><label>Farm&nbspHouse</label></a>
           <a href="#"><label>Samaj</label></a>
         </div>
   </section>




       

   <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Near by location</h3>
            </div>

            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                      
                        <div class="carousel-item active">
                            <div class="row">
                              {% for pro in props1 %}
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                      
                                        <img class="img-fluid" alt="100%x280" src="{{pro.photo.url}}">
                                      
                                        <div class="card-body">
                                          <div class="rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span>(4.4)&nbsp<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></span>
                                          </div>
                                        </div>
                                        <div class="top-text">
                                          <div class="name">{{pro.p_name}} - {{pro.p_city}}</div>
                                          <p>{{pro.p_bhk}}&nbsp;BHK</p>
                                          <label>Price :&nbsp<b>&#x20B9;{{pro.p_price}}</b></label>
                                        </div>
                                        <div class="bottom-text">
                           
                                            <p><a href="#">See The Location on Map</a><p>
                                              <table class="container">
                                                  <tr class="row">
                                                    <td class="col-sm">
                                                      Floor
                                                      <p>{{pro.p_floor}}</p>
                                                    </td>
                                                    <td class="col-sm">
                                                      Beds
                                                      <p>2&3</p>
                                                    </td>
                                                    <td class="col-sm">
                                                      AC
                                                      <p>0</p>
                                                    </td>
                                                  </tr>
                                              </table>
                                              <button type="button" class="btn btn-secondary btn-sm">More Details</button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="carousel-item">
                          <div class="row">
                            {% for pro2 in props2 %}
                              <div class="col-md-4 mb-3">
                                  <div class="card">
                                      <img class="img-fluid" alt="100%x280" src="{{baseUrl}}/{{pro2.p_img}}">
                                      <div class="card-body">
                                        <div class="rating">
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star checked"></span>
                                          <span class="fa fa-star"></span>
                                          <span class="fa fa-star"></span>
                                          <span>(4.4)&nbsp<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></span>
                                        </div>
                                      </div>
                                      <div class="top-text">
                                        <div class="name">{{pro2.p_name}} - {{pro2.p_city}}</div>
                                        <p>{{pro2.p_bhk}}</p>
                                        <label>Price :&nbsp<b>&#x20B9;{{pro2.p_price}}</b></label>
                                      </div>
                                      <div class="bottom-text">
                         
                                          <p><a href="#">See The Location on Map</a><p>
                                            <table class="container">
                                                <tr class="row">
                                                  <td class="col-sm">
                                                    Floor
                                                    <p>{{pro2.p_floor}}</p>
                                                  </td>
                                                  <td class="col-sm">
                                                    Beds
                                                    <p>2&3</p>
                                                  </td>
                                                  <td class="col-sm">
                                                    AC
                                                    <p>0</p>
                                                  </td>
                                                </tr>
                                            </table>
                                            <button type="button" class="btn btn-secondary btn-sm">More Details</button>
                                      </div>
                                  </div>
                              </div>
                              {% endfor %}
                          </div>
                      </div>

                      <div class="carousel-item">
                        <div class="row">
                          {% for pro3 in props3 %}
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="{{baseUrl}}/{{pro3.p_img}}">
                                    <div class="card-body">
                                      <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span>(4.4)&nbsp<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></span>
                                      </div>
                                    </div>
                                    <div class="top-text">
                                      <div class="name">{{pro3.p_name}} - {{pro3.p_city}}</div>
                                      <p>{{pro3.p_bhk}}</p>
                                      <label>Price :&nbsp<b>&#x20B9;{{pro3.p_price}}</b></label>
                                    </div>
                                    <div class="bottom-text">
                       
                                        <p><a href="#">See The Location on Map</a><p>
                                          <table class="container">
                                              <tr class="row">
                                                <td class="col-sm">
                                                  Floor
                                                  <p>{{pro3.p_floor}}</p>
                                                </td>
                                                <td class="col-sm">
                                                  Beds
                                                  <p>2&3</p>
                                                </td>
                                                <td class="col-sm">
                                                  AC
                                                  <p>0</p>
                                                </td>
                                              </tr>
                                          </table>
                                          <button type="button" class="btn btn-secondary btn-sm">More Details</button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    </section>


















  <main id="main">

    <!-- ======= Services Section ======= -->
    
  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
   

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Sltiet <br>
              Rajkot<br>
              India <br><br>
              <strong>Phone:</strong> +918320392397<br>
              <strong>Email:</strong> pzeel969@gmail.com.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About Malic</h3>
            <p>Our site is made for book villas , hotels , rooms , hostels, pgs ,etc.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Malic</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
        Designed by <a href="#">SLTIET</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  
  
  
  
  
  
  
  
  <!-- Vendor JS Files -->
      <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
      <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
      <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
      <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <!-- for crousel -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

      <!-- Template Main JS File -->
      <script src="{% static 'js/main.js' %}"></script>
      <!-- for bottstrap affix -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
   </body>
</html>